body, html {
    text-align: center;
    margin: 0;
    padding: 0;

}

img {
    height: 200px;
}

ul {
    padding: 0;
}

h1 {
    background-color: #009dff;
    padding: 15px 0px;
    margin: 0;
    color: ghostwhite;
}